
<header class="header">
    <div class="wrapper">
        <nav>
            <a href="#"><i class="fas fa-bars"></i></a>
            <div class="logo">
                <img src="../img/Logo.png" alt="logo">
            </div>
            <div class="share">
                <a href="#"><i class="fas fa-rss"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-tumblr"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
        </nav>

        <div class="bannerBlock">
            <img class="banner" src="../img/Banner.png" alt="banner">
            <div class="checkboxx">
                <img src="../img/1.png" alt="1">
                <img src="../img/1.png" alt="1">
                <img src="../img/1.png" alt="1">
            </div>
            <span class="feature">featured article</span>
        </div>
    </div>
</header>

